.head {
    background-image: url(../images/header2.gif);
    color: white;
    height: 100px;
    margin-top: 3px;
    padding-top: 30px;
    text-align: center;
    height: 150px;
}
.nav2 {
    padding-right: 1cm;
    padding-left: 0.1cm;
    display: -webkit-box;
}
.nav2 a:hover{
  background-color:white !important;
  color:rgba(56, 53, 253, 0.938) !important;
  text-shadow: 5px 10px 30px black;
  box-shadow:10px 10px 10px black;
  font-weight: bold;  
  transition: .3s background, .6s color;
}
body {
    padding: 0.2cm; 
}
.img1 {
    border-top: 8px solid white;
    background-image: url(../images/images.png);
    height: 1000px;
}
.containt {
    background-color: white;
    margin-right: 10cm;
    margin-left: 10cm;
    padding: 1cm;
    color: blue;
    border: 2px solid black;
    box-shadow: 0px 0px 10px white;
}
.margin1 {
    margin-top: 100px;
}
input[type=text] {
    width: 300px ;
    height: 40%;
    padding: 5px;
}
input[type=email] {
    width: 300px ;
    height: 40%;
    padding: 5px;
}
table {
        border: 0px solid wheat;
}
input[type=submit]{
    width: 80% ;
}
input[type=password] {
    width: 300px;
    height: 40%;
    padding: 5px;
}
.signup1 {
    padding-top: 0.5cm;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 0.5cm;
}
.signup2 {
    margin-top: 0.5cm;
    padding-top: 0.2cm;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 0.5cm;
}
label{
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}
.wel {
    background-image: url(../images/header2.gif);
    color: white;
    height: 100px;
    margin-top: 3px;
    padding-top: 30px;
    text-align: center;
    height: 185px;
}
/* .nav3 {
    display: -webkit-box;
    
}
.nav3 a:hover{
  background-color:white !important;
  color:rgba(56, 53, 253, 0.938) !important;
  height: 2cm !important;
  width: 5cm !important;
  text-shadow: 5px 10px 30px black;
  box-shadow:10px 10px 10px black;
  font-weight: bold;  
  transition: .3s background, .6s color;
} */