@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
input[type=password] {
    width: 200px !important;
    height: 40px !important;
    padding: 5px !important;
}
input[type=text] {
    font-size: 15px;
    width: 300px !important;
    height: 40px !important;
    padding: 5px !important;
}
input[type=submit]{
    width: 40% !important;
    height: 50px !important;
}
textarea {
    font-size: 15px !important;
}
.asd {
    /* background-color: rgba(254, 254, 255, 0.1) !important; */
    /* color: white; */
    height: 50px;
    border: 1px solid black;
    padding-top: 10px;
    margin-bottom: 20px;
}
.asd1 {
    /* background-color: rgba(233, 242, 247, 0.15) !important;
    color: white; */
    /* box-shadow: 3px 3px white, -0.5em 0 .4em white; */
    box-shadow: 10px 5px 5px white, -10px 5px 5px white;
    border: 1px solid black;
    background-color: rgb(227, 240, 245);
    color: black;
    padding-left: 60px;
}